* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.container-home {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.header-container {
  max-width: 1300px;
  width: 100%;
  background: white;
  margin: 0 auto;
  margin-bottom: 10px;
}
.header-container .nav-content {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .header-container .nav-content {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
}
.header-container .nav-content .navigation {
  width: 1300px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .header-container .nav-content .navigation {
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
  }
}
.header-container .nav-content .navigation a {
  font-size: 18px;
  margin: 0 20px;
  text-decoration: none;
  color: black;
}
.header-container .nav-content .navigation a a:hover {
  text-decoration: underline;
}
.about-pic-content {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}
.about-pic-content .image {
  width: 100%;
  margin: auto;
}
.about-pic-content .about-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-align: center;
  color: black;
}
@media (max-width: 800px) {
  .about-pic-content .about-title {
    font-size: 60px;
  }
}
@media (max-width: 500px) {
  .about-pic-content .about-title {
    font-size: 35px;
  }
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-container .card {
  width: 30%;
  margin: 10px;
}
@media (max-width: 800px) {
  .card-container .card {
    width: 45%;
    margin: 0 auto 10px;
  }
}
@media (max-width: 500px) {
  .card-container .card {
    width: 90%;
    margin: 0 auto 30px;
  }
}
.card-container .card .card-img-first {
  width: 100%;
}
.card-container .card .card-body {
  width: 100%;
}
.card-container .card .card-body .card-title {
  color: black;
  text-shadow: 2px 2px 4px black;
}
.card-container .card a {
  margin: 0 10px;
}
.about-footer {
  margin-top: 20px;
}
