html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 45px;
}

.container {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
}

.title {
	position: absolute;
	left: 37%;
	top: 5%;
	font-size: 100px;

}
.menu {
	z-index: 2;
	position: absolute;
	left: 25px;
	cursor: pointer;
  }
  .menu .menu-button {
	padding: 15px;
	border: 3px solid #ffffff;
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	border-radius: 15px;
	
  }
  .menu .menu-button:hover {
	background-color: black;
  }
  .menu .menu-content {
	width: 100%;
	position: absolute;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	border: 2.5px solid black;
  }
  .menu .menu-link {
	width: 100%;
	text-align: center;
	padding: 15px 0;
	font-size: 18px;
	text-decoration: none;
	color: #931d25;
  }
  .menu .menu-link:hover {
	color: #ffffff;
	background-color: #931d25;
  }
  .menu .menu-hidden {
	display: none;
  }

  .firstPic {
	  width: 100%;
	  height: auto;
  }

  .content-section {
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
  }
  .content-section .text-content {
	width: 48%;
	align-content: center;
	justify-content: center;
	/* padding-right: 1%; */
	
  }
  
  .img-content {
	width: 48%;
	/* padding-left: 1%; */
  }

  
  .img-content img {
	border-radius: 10px;
  }
 
 
  .inverse-content .text-content {
	padding-left: 1%;
	padding-right: 0;
	
  }
 
  .inverse-content .img-content {
	/* padding-right: 1%; */
	padding-left: 0;
  }