.menu {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 25px;
  cursor: pointer;
}
.menu-button {
  padding: 15px;
  border: 3px solid black;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
}
.menu-button:hover {
  background-color: black;
}
.menu-content {
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: 2.5px solid black;
}
.menu-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.menu-link:hover {
  color: #ffffff;
  background-color: black;
}
.menu-hidden {
  display: none;
}
.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}
.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%);
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
.carousel-inner .carousel-item img {
  margin: auto;
  width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.title {
  position: absolute;
  left: 37%;
  top: 30%;
  font-size: 100px;
}
.button {
  position: absolute;
  left: 48%;
  top: 45%;
  font-size: 25px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  border: 3px solid white;
  padding: 10px;
}
.firstPic {
  width: 100%;
  height: auto;
}
.img-content img {
  border-radius: 10px;
}
.text-content p {
  display: flex;
  align-items: center;
}
.inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.inverse-content .img-content {
  padding-left: 0;
}
.header-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.footer {
  background-color: lightslategray;
  height: 100px;
}
