.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}
.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%);
}
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
.carousel-inner .carousel-item img {
  margin: auto;
  width: 100%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.header-container {
  max-width: 1300px;
  width: 100%;
  background: white;
  margin: 0 auto;
  margin-bottom: 20px;
}
.header-container .nav-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .header-container .nav-content {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
  }
}
.header-container .navigation {
  width: 1300px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  .header-container .navigation {
    justify-content: space-evenly;
    width: 100%;
    margin: 0 auto;
  }
}
.header-container .navigation a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.title {
  position: absolute;
  left: 37%;
  top: 30%;
  font-size: 100px;
}
.button {
  position: absolute;
  left: 48%;
  top: 45%;
  font-size: 25px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  border: 3px solid white;
  padding: 10px;
}
.content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}
.content-section .text-content {
  width: 43%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .content-section .text-content {
    width: 100%;
    padding: 0;
  }
}
.content-section .img-content {
  width: 50%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .content-section .img-content {
    width: 100%;
    padding: 0;
  }
}
.content-section .img-content img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .content-section .img-content img {
    width: 100%;
    padding: 0;
  }
}
.inverse-content {
  justify-content: space-between;
}
.inverse-content .text-content {
  padding-left: 2%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .inverse-content .text-content {
    order: 1;
  }
}
.inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .inverse-content .img-content {
    width: 100%;
    padding: 0;
    order: 2;
  }
}
.firstPic {
  width: 100%;
  height: auto;
}
body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}
.footer {
  background-color: lightslategray;
  height: 50px;
}
