@import "variables.less";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-home {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
//header container and nav bar
.header-container {
    max-width: 1300px;
    width: 100%;
    background: white;
    margin: 0 auto;
    margin-bottom: 20px;
    .nav-content {
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        @media @mobile {
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 10px;
        }
        .navigation {
            width: 1300px;
            display: flex;
            justify-content: flex-end;
            
            @media @mobile {
                justify-content: space-around;
                width: 100%;
                margin: 0 auto;
            }
            a {
                font-size: 18px;
                margin: 0 20px;
                text-decoration: none;
                color: black;
                a:hover {
                    text-decoration: underline
                }
            }

        }
    }
}
h1{
    justify-items: center;
}

//cards

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card {
        width: 25%;
        margin: 10px;
        @media @mobile {
            width: 80%;
            margin: 0 auto 30px;
        }
        .card-img-first {
            width: 100%;
        }
        .card-body {
            width: 100%;
            margin: 10px;
        }
        a {
            margin: 0 10px;
        }

    }
}






