
@import "../javascript/carousel.less";
@import "variables.less";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.header-container {
	max-width: 1300px;
  width: 100%;
  background: white;
	margin: 0 auto;
  margin-bottom: 20px;
  

.nav-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media @mobile {
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 10px;
  }
  }
  .navigation {
      width: 1300px;
      display: flex;
      justify-content: flex-end;
      
      @media @mobile {
          justify-content: space-evenly;
          width: 100%;
          margin: 0 auto;
      }
      a {
          font-size: 18px;
          text-decoration: none;
          color: black;
      }
  }
}

.picture-content {
  position: relative;
  display: inline-block;
  .firstPic {
    width: 100%;
    margin: auto;
  }
  .title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  .button {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    border: 3px solid black;
    padding:3px;
    font-size: 25px;
    cursor: pointer;
    background: transparent;
    border-radius: 10px;
    @media @mobile {
      top: 65%;
    }

  }
}

.content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;


  .text-content {
    width: 43%;
    height: auto;
    padding-right: 1%;
    border-radius: 10px;
    @media @mobile {
      width: 100%;
      padding: 0;
    }
  }

  .img-content {
    width: 50%;
    padding-left: 1%;
    @media @mobile {
      width: 100%;
      padding: 0;
    }

    img {
      border-radius: 10px;
      width: 100%;
      height: auto;
      @media @mobile {
        width: 100%;
        padding:0;
      }
    }
  }
}

.inverse-content {
  justify-content: space-between;


  .text-content {
    padding-left: 2%;
    padding-right: 0;
    @media @mobile {
      order: 1;
    }
  }

  .img-content {
    padding-right: 1%;
    padding-left: 0;
    @media @mobile {
      width: 100%;
      padding: 0;
      order: 2;
    }
  }
}



body {
  box-sizing: border-box;
  min-width: 300px;
  margin: 0;
}

.footer{
  display: flex;
	background-color: lightslategray;
  height: 50px;
  align-items: center;
  justify-content: center;
  p{
    margin: 0;
  }
}